* {
    margin: 0;
    padding: 0;
}

.home-container {
    height: 100vh;
    height: 100dvh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.log-in-sign-up-container {
    position: absolute;
    width: auto;

    right: 10%;
    top: 5%;
}

.log-in-sign-up-button {
    background-color: var(--button-color);
    color: white;
}
.log-in-sign-up-button:hover {
    cursor: pointer;
    background-color: var(--button-color-hover);
}
.log-in-sign-up-button:active {
    background-color: var(--button-color-click);
}
.log-in-sign-up-button:focus {
    outline: none;
}

.menu-container {
    position: absolute;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;

    left: 10%;
}

.player-vs-player {
    background-color: white;
    border: 1px solid black;
    height: 75px;
    width: 200px;
    font-size: 2em;
    background-color: rgba(0, 128, 0, 0.2);

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.player-vs-player:focus {
    outline: none;
}
.player-vs-bot {
    background-color: white;
    border: 1px solid black;
    height: 75px;
    width: 200px;
    font-size: 2em;
    background-color: rgba(0, 128, 0, 0.2);

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.player-vs-bot:focus {
    outline: none;
}

.level-container {
    position: absolute;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;

    right: 10%;
}

.level-buttons {
    background-color: white;
    border: 1px solid black;
    height: 50px;
    width: 150px;
    font-size: 1em;
    background-color: rgba(0, 128, 0, 0.2);

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.level-button:focus {
    outline: none;
}

.game-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.score-container {
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid black; */
    width: 100%;
    height: auto;
    gap: 20px;
}

.scores {
    border: 1px solid black;
    border-bottom: 5px solid black;
    border-radius: 20px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin-bottom: 20px;
}

#score1 {
    background-color: var(--player-one-color);
}
#score2 {
    background-color: var(--player-two-color);
}

.game {
    height: 450px;
    width: 450px;
    /* border: 1px solid black; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.cells {
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 6em;
    font-weight: bold;
    height: 150px;
    width: 150px;
    font-family: fantasy;
    user-select: none;
}

.cells:hover {
    cursor: pointer;
    background-color: whitesmoke;
}

#cell1,
#cell2,
#cell3 {
    border-top: none;
}

#cell7,
#cell8,
#cell9 {
    border-bottom: none;
}

#cell1,
#cell4,
#cell7 {
    border-left: none;
}

#cell3,
#cell6,
#cell9 {
    border-right: none;
}

.game-over-container {
    display: none;
    /* display: flex; */
    /* justify-content: center;
    align-items: center;
    flex-direction: column; */
    text-align: center;
    align-content: center;
    margin-top: 10px;

    position: absolute;
    top: 50%;
    left: 50%;
    height: 450px;
    width: 450px;
    /* height: 100px;
    width: 100px; */
    /* border: 1px solid red; */
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.8);
    user-select: none;
}

.game-over-text {
    /* margin-top: 50px; */
    font-family: cursive;
    font-weight: bold;
}
.winner {
    margin-bottom: 100px;
    margin-top: 50px;
    font-family: fantasy;
    font-weight: bold;
}

.restart-container {
    /* border: 1px solid black; */
    /* border-top: 1px solid black; */
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.restart-button {
    width: 250px;
    height: 50px;
    margin: 10px;
    border-radius: 5px;
    background-color: var(--button-color);
    color: white;
    font-family: fantasy;
    font-size: 2em;
    line-height: 20px;
}
.restart-button:hover {
    cursor: pointer;
    background-color: var(--button-color-hover);
}
.restart-button:active {
    background-color: var(--button-color-click);
}
.restart-button:focus {
    outline: none;
}
